@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=cyrillic');
body {margin: 0px; padding: 0px; font-family: 'Roboto Condensed', sans-serif; font-size: 14px; line-height: 1.4;}
.container{	width: 1170px; margin: 0px auto; padding: 10px;	box-sizing: border-box;}
.container:after {clear: both; display: block;content: '';}
.logo {text-align: center;padding: 10px 0px;}
.logo a {font-size: 30px; text-transform: uppercase;color: red;border-bottom: 1px solid #ccc;position: relative;text-decoration: none;padding-bottom: 10px}
.logo a:before, .logo a:after{border-bottom: 1px solid #ccc;display: block;content: '';position: absolute;width: 200px;left: 50%;margin-left: -100px}
.logo a:before {bottom: 4px}
.logo a:after {bottom: 9px; width: 180px;margin-left: -90px;}
.menu ul {padding: 0px;margin: 0px;list-style-type: none;}
.menu ul a {display: block;text-decoration: none;color: #000;}
.top-menu {background: #ccc;border:1px solid #ddd;margin-top: 5px}
.top-menu:after {content: '';display: block; clear: both;}
.top-menu li {float: left;}
.top-menu li a {padding: 0px 15px; line-height: 35px; border-left: 1px solid #fff;}
.top-menu li a:hover {color: red;}
.top-menu li:first-child a {border-left: 0px;}
.col-left {float: left;width: 200px;}
.col-left + .content {margin-left: 210px;}
.title {font-size: 25px; text-transform: uppercase;margin-top: 0px;margin-bottom: 10px;font-weight: 400px;border-bottom: 3px solid #ccc;padding-bottom: 5px;}
.left-menu a {border-bottom: 1px solid #ccc;line-height: 30px;}
.left-menu a:hover {border-color: red;}
.left-menu a:before {content: '';display: inline-block;border-left: 15px solid gray; border-bottom: 8px solid #fff;border-top: 8px solid #fff;margin-right: 5px;vertical-align: middle;}
header {}
footer {border-top: 1px solid #ccc;}
footer .col {float: left;width: 33.3333%;box-sizing: border-box;padding: 5px;}
footer .col:nth-child(2) {text-align: center;}
footer .col:last-child {text-align: right;}